﻿<ion-view view-title="Left Menu">
    <ion-header-bar class="bar-calm">
        <h1 class="title">ChileService</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>


            <ion-item class="item-icon-left">
                <i class="icon ion-person-stalker"></i>
                Juan Pérez
            </ion-item>


            <ion-item class="item-icon-right">
                <i class="icon ion-log-out"></i>
                Cerrar Sesión

            </ion-item>


        </ion-list>

    </ion-content>
</ion-view>
