﻿<ion-view view-title="VALIDAR CORRESPONDENCIA">
    <ion-content class="padding">
      <div class="list">

        <div class="item item-button-right">
          HOLA1
          <button class="button button-positive">
            <i class="icon ion-ios-copy"></i>
          </button>
        </div>

        <div class="item item-button-right">
          HOLA2
          <button class="button button-assertive">
            <i class="icon ion-ios-copy"></i>
          </button>
        </div>

        <div class="item item-button-right">
          HOLA3
          <button class="button button-positive">
            <i class="icon ion-ios-copy"></i>
          </button>
        </div>

        <div class="item item-button-right">
          HOLA4
          <button class="button button-assertive">
            <i class="icon ion-ios-copy"></i>
          </button>
        </div>


      </div>



    </ion-content>
</ion-view>
