<ion-view view-title="MOSTRAR CORRESPONDENCIA">
    <ion-content class="padding">
      <div class="list">

        <div class="item item-button-right">
          Call Ma
          <button class="button button-positive">
            <i class="icon ion-ios-telephone"></i>
          </button>
        </div>


      </div>



    </ion-content>
</ion-view>
