<ion-view view-title="Mostrar Correspondencia">
  <ion-content class="padding">

    <div class="list">

      <div class="item item-divider">
        Entregados
      </div>

      <a class="item" href="#">
          46648014
      </a>

      <a class="item" href="#">
          29142605
      </a>

      <a class="item" href="#">
          92637113
      </a>

      <a class="item" href="#">
          16588679
      </a>

        <a class="item" href="#">
            17630652
        </a>

        <a class="item" href="#">
            24876530
        </a>

      <div class="item item-divider">
        No entregados
      </div>

      <a class="item" href="#">
          12965158
      </a>
      <a class="item" href="#">
          97866344
      </a>
      <a class="item" href="#">
          12402135
      </a>
      <a class="item" href="#">
          26654629
      </a>


</div>

  </ion-content>
</ion-view>
