﻿<<ion-view view-title="Inicio">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="http://www.wifo.ac.at/jart/prj3/wifo/resources/person_dokument/person_dokument.jart?dokumentid=2557&dummy=dummy.jpg">
                <h2>Juan Perez</h2>
            </div>

            <div class="item item-body">

                <p>
                    Tienes 25 correspondencias por entregar en la comuna de Macul.
                    Has entregado 9 de un total de 34.
                </p>

            </div>

        </div>
    </ion-content>
</ion-view>
