<ion-view view-title="Validar Correspondencia">
  <ion-content class="padding">

    <div class="list list-inset">
        <label class="item item-input item-select">

          <div class="input-label">
            Serie
          </div>
          <select>
            <option>16182746</option>
            <option>43543224</option>
            <option>23453454</option>
            <option>64532565</option>
            <option>12346234</option>
            <option>79789797</option>
          </select>
        </label>
        </div>
      <center>
        <button class="button icon ion-qr-scanner"></button>
      </center>
      <br />
      <div class="list">
          <label class="item item-input">
              <span class="input-label">Nombre</span>
              <input type="text">
          </label>
          <br />
          <label class="item item-input">
              <span class="input-label">Apellido</span>
              <input type="text">
          </label>
      </div>
      <center>
          <button class="button icon ion-camera"></button>
      </center>
      <br />
      <button class="button button-block button-positive">
          Entregar
      </button>
  </ion-content>
</ion-view>