
<ion-tabs class="tabs-striped tabs-top tabs-calm">

    <ion-tab title="Perfil"
             ui-sref="tabs.home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>



        <ion-tab title="Mostrar"
                 icon-off="ion-ios-list-outline"
                 icon-on="ion-ios-list"
                 ui-sref="tabs.mostrar">
            <ion-nav-view name="mostrar"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Validar"
                 icon-off="ion-ios-email-outline"
                 icon-on="ion-ios-email"
                 ui-sref="tabs.validar">
            <ion-nav-view name="validar"></ion-nav-view>
        </ion-tab>


</ion-tabs>
